{% extends 'layout.html' %}

{% block title %}
    New Product
{% endblock %}

{% block content %}
<div class="container py-3">
    <h1 class="text-center mb-4">New Product</h1>
    <div class="card shadow-lg p-4" style="max-width: 600px; margin: 0 auto;">
        <form 
            method="post"
            action="{% url 'products:new-product' %}"
            enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <p for="id_name" class="form-label">Name</p>
                {{ form.name }}
                {% if form.name.errors %}
                    <div class="text-danger small">{{ form.name.errors }}</div>
                {% endif %}
            </div>

            <div class="mb-3 ">
                <p for="id_description" class="form-label">Description</p>
                {{ form.description }}
                {% if form.description.errors %}
                    <div class="text-danger small">{{ form.description.errors }}</div>
                {% endif %}
            </div>

            <div class="mb-3">
                <p for="id_price" class="form-label">Price</p>
                {{ form.price }}
                {% if form.price.errors %}
                    <div class="text-danger small">{{ form.price.errors }}</div>
                {% endif %}
            </div>

            <div class="mb-3">
                <p for="id_category" class="form-label">Category</p>
                {{ form.category }}
                {% if form.category.errors %}
                    <div class="text-danger small">{{ form.category.errors }}</div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="id_image" class="form-label">Image</label>
                {{ form.image }}
                {% if form.image.errors %}
                    <div class="text-danger small">{{ form.image.errors }}</div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary w-100">Create Product</button>
        </form>
    </div>
</div>
{% endblock %}
